{% extends 'layout.html' %}
{% block title %}- About us
{% endblock %}

{% block body %}
<div class="container mt-5" oncontextmenu="return false" onselectstart="return false" ondragstart="return false"><br>
    <img class="img-fluid aboutme-pic" src="https://i.ibb.co/YDBvC4k/3x4-Copy.jpg" alt="erick picture" width="180">
    <div class="wrappert">
        <div class="roles">
            <div>
                I am a back-end developer.
            </div>

            <div>
                I'm an engineer.
            </div>

            <div>
                I am a curious.
            </div>

            <div>
                I am a student.
            </div>

            <div>
                I am a dreamer.
            </div>
        </div>
    </div>

    <div class="social"><a target="_blank" href="https://www.linkedin.com/in/ericktreichel/"><button class="button-ld" role="button">Linkedin</button></a>
        <a target="_blank" href="https://github.com/ericktreichel"><button class="button-gh" role="button">Github</button></a>
    </div>

    <div class="container div-aboutme">
        <p class="aboutme-p">
            &emsp;&emsp;Hi there, my name is Erick Treichel and I'm a Civil Engineer from Brazil. Construction and civil engineering in general are so motionless, so closed to innovations and that's one of the reasons why I'm going into a tech career: I want to work in a dynamic area, where I can see change and inovation clearly, and where I am encouraged to do things differently, explore new technologies and do better, always. I decided to become a Back-end Developer, and this web application is the final assignment for the CS50x course. This website, despite being simple and with an unpleasant design (visual design is not my strong point, I confess), it's a good start for me.
        </p>
        <p class="aboutme-p">&emsp;&emsp; I'm just starting my adventure as a Developer and I can't wait to learn more and more, make awesome things and help improve people's lives using my knowledge. Quoting Malan: "<strong><em> This was CS50."</em></strong></p>
    </div>
    <div class="div-aboutme-img">
        <img src="/static/imgs/aboutme.jpg" alt="..." width="300px" class="rounded mb-2 about-img img-fluid shadow">
    </div>

</div>

{% endblock %}