{% extends 'layout.html' %}
{% block title %}- My Profile
{% endblock %}

{% block body %}
<div class="profile-card">
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto try">
            <div class="rounded overflow-hidden wrap">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="{{ profile_pic }}" alt="..." width="200px" class="rounded mb-2 img-thumbnail img-fluid shadow"></div>

                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-1">{{ current_user.username}}</h4>
                            <p class="small mb-0"> <i class="fas fa-map-marker-alt mr-2"></i>{{ current_user.fullname }}</p>

                            <p class="small mb-0"> <i class="fas fa-map-marker-alt mr-2"></i>{{ current_user.email }}</p>
                            <p class="small mb-0"> <i class="fas fa-map-marker-alt mr-2"></i>From: Brazil</p>
                        </div>
                        <a href="{{ url_for('edit_profile')+'#editing' }}" class="button-25">Edit profile</a>
                    </div>

                </div>
                <div class="bg-light shadow-sm p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">

                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">
                                {% if (current_user.fav_tech == '') %}
                                <span class="nfav_tech">0</span>
                                {% else %}
                                <span class="nfav_tech">{{ current_user.fav_tech.count(',')+1 }}</span>
                                {% endif %}
                            </h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Techs</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"> {{ current_user.count_posts() }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Posts</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">Favorite technologies:</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">{{ current_user.fav_tech }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% block form_edit_profile %}
{% endblock %}

{% endblock %}